@inherits LayoutComponentBase

<div class="page container">
    <div class="menu">
        <RcMenu />
    </div>

    <main class="content">
        <article>
            @Body
        </article>
    </main>
</div>
