@inject NavigationManager Navigation


<div class="menu-items-container">
    <span class="nav-item">
        <NavLink href="">Etusivu</NavLink>
    </span>
    <span class="nav-item">
        <NavLink href="sites">Ajopaikat</NavLink>
    </span>
	<span class="nav-item">
		<NavLink href="addsite">Lisää ajopaikka</NavLink>
	</span>
	<span class="nav-item">
        <NavLink href="map">Kartta</NavLink>
	</span>
</div>

@code{

}