@page "/"

<PageTitle>Rc-ajopaikat</PageTitle>

<div class="container">
	<h1>Hei,</h1>

	<p>Rc-ajopaikat sivun on tarkoitus kerätä yhteen virallisia, ja epävirallisia ajopaikkoja joissa saa ajaa.</p>
</div>
